body{
    background-color: #58B19F;
    color: #182C61;
}

.nav-wrapper{ 
    background-color: #55E6C1;
    color: #182C61;
}

.page-footer{
    background-color: #55E6C1;
    color: #182C61;
}

.footer-copyright{
    background-color: #55E6C1;
    color: #182C61;
}