@import url('https://fonts.googleapis.com/css?family=Jura');

.me{
	zoom: 0.25;
	transform: rotate(90deg);
	border-radius: 50%;
}

.row{
	font-family: "Jura";
}

#caption{
	padding-top: 25px;
	font-family: "Jura";
}

.flash{
	letter-spacing: 3px;
}

#p{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Jura";
}