
  body {
    background-color: lightblue;


  }

  h1{
    text-align: center

  }

  h2{
    text-align: center
  }

  p{
    text-align: center
  }

  #container {


  }

  #title {
    background-color: : #eee;

  }

  #headshot {

  }

  #content{

  }
