h1 { 

  text-align: center;
  border: solid 5px;
  border-color: #7FFF00;
  text-color: #FFFF00;
}

html {
background:url(https://i.pinimg.com/736x/71/27/4a/71274a426a9bc2f2863354a88cbe4316--football-art-football-stuff.jpg);}

