._1aqb{width:500px}
.ReactLegacyMentionsInput{background-color:#fff}.ReactLegacyMentionsInput .TextInputAppearance{background:transparent;border:0}

#bootloader_f_vTC{height:42px;}.bootloader_f_vTC{display:block!important;}